.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.socials__link--fill-background {
    background-color: var(--main-background-color);
    color: var(--icon-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__icon {
    fill: currentColor;
}

.socials-list--margin-top {
    margin-top: 20px;
}

.socials__link--background {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--light-accent-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link--fill-background:focus,
.socials__link--fill-background:hover {
    background-color: var(--dark-accent-color);
    color: var(--light-accent-color)
}

.socials__link--background:hover,
.socials__link--background:focus {
    background-color: var(--dark-accent-color);
}