.team {
    display: flex;
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team__img {
    margin-bottom: 30px;
}

.team__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section--background {
    background-color: var(--sub-background-color);
}

.team__name {
    font-weight: 500;
    font-size: var(--sub-font-size);
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__title {
    font-weight: 400;
    font-size: var(--sub-font-size);
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sub-color);
    margin-bottom: 16px;
}